@model FinishedTestsModel
@{
	ViewData["Title"] = "HomePage";
}

<div class="responsive-wrapper">
	<div class="main-header">
		<h1>Домашняя страница</h1>
		<div class="search">
			<input type="text" placeholder="Search" />
			<button type="submit">
				<i class="ph-magnifying-glass-bold"></i>
			</button>
		</div>
	</div>

	<div class="horizontal-tabs">
		<a href="#" class="active">История Релизов</a>
		<a href="#">Логи Моков</a>
	</div>
	<div class="content">


		@*Тут начинается меню сортировки*@
		<div class="content-panel">
			<div class="vertical-tabs">
				<a href="#">Запущенные процессы</a>
				<a href="#">Запланированные процессы</a>
				<a href="#">Завершенные с ошибкой процессы</a>
				<a href="#" class="active">Завершенные процессы</a>
			</div>
		</div>
		@*ТУТ начинается контент*@




		@*<История Тестов>*@
		<table class="table table-hover table-dark">
			<thead>
				<tr>
				<tr>
					<th scope="col">#</th>
					<th scope="col" style="text-align:center">
						<button class="btn btn-outline-secondary" type="button" id="clear">
							🗑
						</button>
					</th>
					<th scope="col">Название Теста</th>
					<th scope="col">Время запуска теста</th>
					<th scope="col">Последнее действие</th>
					<th scope="col">Длительность</th>
					<th scope="col">Название скрипта</th>
					<th scope="col">Профиль нагрузки</th>
					<th scope="col">Результат</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var test in Model.Tests)
				{
					<tr>
						<th scope="row">
							@if (@test.Status == "FINISHED")
							{
								<span>✔</span>
							}
						</th>
						<td>
							<button class="btn btn-outline-secondary" type="button" id="clear">
								🗑
							</button>
						</td>
						<td>@test.TestName</td>
						<td>@test.StartTime</td>
						<td>@test.LastStep</td>
						<td>@test.PlanDuration</td>
						<td>@test.ScriptName</td>
						<td>@test.ProfileName</td>
						<td><a class="btn btn-primary btn-sm" href="@test.Links[0].Url.Insert(6,"/")">@test.Links[0].Name</a></td>
					</tr>
				}
			</tbody>
		</table>
		@*</История Тестов>*@
	</div>
</div>